
<div class="page">
  <div class="auth-card">

    <h1 *ngIf="isLoginMode">Welcome Back</h1>
    <h1 *ngIf="!isLoginMode">Create Account</h1>

    <p class="subtitle" *ngIf="isLoginMode">Sign in to Smart Task Manager</p>
    <p class="subtitle" *ngIf="!isLoginMode">Fill the form to get started</p>

    <!-- ===== Login Form ===== -->
    <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="field">
        <label>Username</label>
        <input type="text" formControlName="username" />
        <span *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          Username is required
        </span>
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password" />
        <span *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          Minimum 4 characters
        </span>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
      <p class="switch-text">Don't have an account? 
        <span class="switch-link" (click)="toggleMode()">Sign Up</span>
      </p>
    </form>

    <!-- ===== Register Form ===== -->
    <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <div class="field">
        <label>Username</label>
        <input type="text" formControlName="username" />
        <span *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
          Username is required
        </span>
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password" />
        <span *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
          Minimum 4 characters
        </span>
      </div>

      <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
      <p class="switch-text">Already have an account? 
        <span class="switch-link" (click)="toggleMode()">Sign In</span>
      </p>
    </form>
  </div>
</div>

