<div class="page">
  <div class="auth-card">

    <h1 *ngIf="isLoginMode">Welcome Back</h1>
    <h1 *ngIf="!isLoginMode">Create Account</h1>

    <p class="subtitle" *ngIf="isLoginMode">
      Sign in to Smart Task Manager
    </p>
    <p class="subtitle" *ngIf="!isLoginMode">
      Fill the form to get started
    </p>

    <!-- ===== LOGIN ===== -->
    <form *ngIf="isLoginMode"
          [formGroup]="loginForm"
          (ngSubmit)="submitLogin()">

      <!-- Email -->
      <div class="field">
        <label>Email</label>
        <input type="email" formControlName="email" />
        <span *ngIf="loginForm.get('email')?.touched &&
                     loginForm.get('email')?.invalid">
          Please enter a valid email
        </span>
      </div>

      <!-- Password -->
      <div class="field">
        <label>Password</label>
        <div class="password-wrapper">
          <input
            [type]="showLoginPassword ? 'text' : 'password'"
            formControlName="password" />
          <i class="fa"
             [ngClass]="showLoginPassword ? 'fa-eye-slash' : 'fa-eye'"
             (click)="toggleLoginPassword()"></i>
        </div>

        <span *ngIf="loginForm.get('password')?.touched &&
                     loginForm.get('password')?.invalid">
          Minimum 4 characters required
        </span>
      </div>

      <button type="submit"
              [disabled]="loginForm.invalid || isLoading">
        {{ isLoading ? 'Signing In...' : 'Sign In' }}
      </button>

      <p class="switch-text">
        Don't have an account?
        <span class="switch-link" (click)="toggleMode()">Sign Up</span>
      </p>

    </form>

    <!-- ===== REGISTER ===== -->
    <form *ngIf="!isLoginMode"
          [formGroup]="registerForm"
          (ngSubmit)="submitRegister()">

      <!-- Username -->
      <div class="field">
        <label>Username</label>
        <input type="text" formControlName="username" />
        <span *ngIf="registerForm.get('username')?.touched &&
                     registerForm.get('username')?.invalid">
          Minimum 4 characters required
        </span>
      </div>

      <!-- Email -->
      <div class="field">
        <label>Email</label>
        <input type="email" formControlName="email" />
        <span *ngIf="registerForm.get('email')?.touched &&
                     registerForm.get('email')?.invalid">
          Please enter a valid email
        </span>
      </div>

      <!-- Password -->
      <div class="field">
        <label>Password</label>
        <div class="password-wrapper">
          <input
            [type]="showRegisterPassword ? 'text' : 'password'"
            formControlName="password" />
          <i class="fa"
             [ngClass]="showRegisterPassword ? 'fa-eye-slash' : 'fa-eye'"
             (click)="toggleRegisterPassword()"></i>
        </div>

        <span *ngIf="registerForm.get('password')?.touched &&
                     registerForm.get('password')?.invalid">
          Minimum 4 characters required
        </span>
      </div>

      <button type="submit"
              [disabled]="registerForm.invalid || isLoading">
        {{ isLoading ? 'Creating...' : 'Sign Up' }}
      </button>

      <hr />

      <p class="switch-text">
        Already have an account?
        <span class="switch-link" (click)="toggleMode()">Sign In</span>
      </p>

    </form>
      <hr />

     <!-- Google Login Button -->
      <button type="button" class="google-btn" (click)="loginWithGoogle()">
        <span class="google-icon">
          <img src="https://developers.google.com/identity/images/g-logo.png" />
        </span>
        Continue with Google
      </button>

  </div>
</div>